In [1]:

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from numpy import arange
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.feature_selection import SelectKBest, f_regression

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import LassoCV

from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [2]:
df = pd.read_csv("./dataset/train.csv")
df.shape

(1460, 81)

### variable numérique

In [18]:
df['FullBath'].isna().sum()
#df['FullBath'].describe()
df['FullBath'].unique()

array([2, 1, 3, 0], dtype=int64)

In [4]:
df.loc[df['TotalBsmtSF'] == 0, 'TotalBsmtSF'] = df['TotalBsmtSF'].quantile(0.5)
#df['TotalBsmtSF'].describe()

In [5]:
#df[['GrLivArea']].fillna((df['GrLivArea'].mean()), inplace=False)
df_num = df[['GrLivArea', 'GarageArea', 'TotalBsmtSF', '1stFlrSF']] 

df_num.head()

   GrLivArea  GarageArea  TotalBsmtSF  1stFlrSF
0       1710         548        856.0       856
1       1262         460       1262.0      1262
2       1786         608        920.0       920
3       1717         642        756.0       961
4       2198         836       1145.0      1145

In [6]:
scaler = MinMaxScaler()
df_num_scaled = scaler.fit_transform(df_num)

scaler = StandardScaler().fit(df_num_scaled)
df_num_scaled = scaler.transform(df_num_scaled)

In [7]:
df_num = pd.DataFrame(df_num_scaled, columns = df_num.columns.tolist())

### Variable cétégorielle

In [8]:
df_cat = df[['OverallQual', 'GarageCars', 'FullBath']].astype(str)
df_cat.describe()

       OverallQual GarageCars FullBath
count         1460       1460     1460
unique          10          5        4
top              5          2        2
freq           397        824      768

In [9]:
df_cat['OverallQual'].unique()

array(['7', '6', '8', '5', '9', '4', '10', '3', '1', '2'], dtype=object)

In [10]:
df['GarageCars'].unique()

array([2, 3, 1, 0, 4], dtype=int64)

In [11]:
df_cat = pd.get_dummies(df_cat)
df_cat.head()

,OverallQual_1,OverallQual_10,OverallQual_2,OverallQual_3,OverallQual_4,OverallQual_5,OverallQual_6,OverallQual_7,OverallQual_8,OverallQual_9,GarageCars_0,GarageCars_1,GarageCars_2,GarageCars_3,GarageCars_4,FullBath_0,FullBath_1,FullBath_2,FullBath_3
0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0
1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0
2,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0

In [12]:
df_new = df_num.join(df_cat)
df_new.shape

(1460, 23)

In [13]:
# Variables explicatives
X = df_new

# Variable cible
y = df['SalePrice']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42)

'''
scaler = MinMaxScaler()

X_train = scaler.fit_transform(X_train) # X_train_scaled
X_test = scaler.transform(X_test) # X_test_scaled

scaler = StandardScaler().fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
'''

'\nscaler = MinMaxScaler()\n\nX_train = scaler.fit_transform(X_train) # X_train_scaled\nX_test = scaler.transform(X_test) # X_test_scaled\n\nscaler = StandardScaler().fit(X_train)\n\nX_train = scaler.transform(X_train)\nX_test = scaler.transform(X_test)\n'

In [15]:
lr = LinearRegression()

lr.fit(X_train, y_train)

y_pred_train = lr.predict(X_train)

y_pred_test = lr.predict(X_test)

In [16]:
mse_train = mean_squared_error(y_train, y_pred_train)

mse_test = mean_squared_error(y_test, y_pred_test)

print("MSE train lr:", mse_train)
print("MSE test lr:", mse_test)

MSE train lr: 1339353404.2859397
MSE test lr: 1171839973.1434143

In [17]:
mae_train = mean_absolute_error(y_train, y_pred_train)

mae_test = mean_absolute_error(y_test, y_pred_test)

print("MAE train lr:", mae_train)
print("MAE test lr:", mae_test)

mean_price = df['SalePrice'].mean()

print("\nRelative error", mae_test / mean_price)

MAE train lr: 23483.58756261225
MAE test lr: 23106.5420017814

Relative error 0.12771605829854055